body {
    background-color: #f7f9fc;
    font-family: 'Poppins', sans-serif;
    padding-left: 30px;
}

.card {
    background-color: rgb(241, 239, 239);
    border-radius: 20px;
    border: none;
}

.sidebar {
    background-color: rgba(132, 217, 239, 0.26);
    margin-top: 25px;
    width: 271px;
    padding-top: 72px;
    border-radius: 30px;
    height: 92vh; /* Fixed height to extend sidebar without scrolling */
    padding-bottom: 10px; /* Optional padding at the bottom */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar a {
    width: 100%;
    display: block;
    padding: 10px 30px;
    margin: 10px 0;
    color: rgba(102, 102, 102, 1);
    text-decoration: none;
}

.sidebar i {
    margin-right: 10px; /* Adds space between the icon and the text */
}

.sidebar a.active {
    background-color: rgba(33, 109, 136, 1);
    color: rgba(245, 245, 245, 1);
    border-radius: 8px;
}

.sidebar a:hover {
    background-color: rgb(61, 147, 179);
    color: #fff;
    border-radius: 8px;
}

.sidebar a.text-danger {
    color: rgba(102, 102, 102, 1) !important;
}

.sidebar a.text-danger i {
    color: red !important;
}

.sidebar a.text-danger:hover {
    color: #fff !important;
}

.content {
    padding: 20px;
    margin-left: 15px; /* Space between sidebar and content */
}

.dashboard-header {
    color: rgba(102, 102, 102, 1);
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 10px; /* Space above "Admin Dashboard" */
}

.student-card {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
    padding-left: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.student-card button {
    font-weight: bold;
    background-color: rgba(33, 109, 136, 1);
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
}

.student-card button:hover {
    background-color: rgb(85, 172, 204);
    color: #fff;
}

.view-all-button {
    width: 139px;
    font-weight: bold;
    background-color: rgba(33, 109, 136, 1); 
    color: white;
    border: none;
    padding: 8px 20px; /* Adjusted padding */
    border-radius: 5px;
    cursor: pointer; /* Change cursor to pointer */
}

.view-all-button:hover {
    background-color: rgb(85, 172, 204);
    color: #fff;
}

.stat-box {
    background-color: rgba(33, 109, 136, 0.1);
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
}

.pending-students-header {
    width: 190px;
    height: 40px;
    background-color: rgba(33, 109, 136, 0.1);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto; /* Center the header */
    margin-top: 30px;
    font-weight: bold;
    color: #000;
    box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.name-title {
    font-size: 24px;
    font-weight: bold;
    color: rgba(102, 102, 102, 1);
    margin-top: -10px; /* Space above the "Name" title */
}